.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.tic-button {
  background-color: white;
  border: 1px solid black;
  margin: 3px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  line-height: 0;
}

button:disabled{
  color: black;
}

.btn-reset{
  margin-top: 30px;
  background-color: salmon;
  border: 2px solid black;
  border-radius: 5px;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.tbl {
  max-width: 170px;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}